.card {
  text-align: center;
  padding: 20px 30px;
  color: #1D355D;
 
  &>:last-child {
    text-align: center;
    min-width: 75%;
    font-weight: 600;
    padding: 15px 10px;
  }
}

.title {
  font-size: 45px;
  padding: 0;
  margin: 30px 0 5px 0;
  font-weight: bold;
}

.message {
  margin-bottom: 40px;
  padding: 0;
  font-size: 17px;
  text-align: center;
}

.points {
  color: #60BF88;
  font-size: 40px;
  font-weight: bold;
  padding: 5px;
}
