.btnPrimary {
  min-width: 100%;
  border: 2px solid #2f527b;
  color: #2f527b;
  outline: none;
  padding: 12px 15px;
  border-radius: 12px;
  background-color: #fff;
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
 
  transition: all .5s ease;
  
  &:hover { 
    cursor: pointer;
    background-color: #F9A826;
    border-color: transparent;
    color: #fff;
  }
  
  &:disabled {
    opacity: 0.6;
  }

  &:hover:disabled{
    cursor: not-allowed;
    background-color: #fff;
    border-color: #2f527b;
    color: #2f527b;
  }
 
}

.btnAnswer{
  @extend .btnPrimary;
  position: relative;
  color: #fff;
  transition: all 0.1s ease;
  
  &::after{
    position: absolute;
    right: 20px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
  

  &:disabled {
   opacity: 1;
  }
}

.btnFail {
  @extend .btnAnswer;
  background-color: #EA8282;
  border-color: #EA8282;
  
  &::after {
    content: url('../../assets/fail.svg/');
    top: 24%;
    transform: rotate(45deg);
  }
 

  &:hover:disabled{
    background-color: #EA8282;
    color: #fff;
    border-color: #EA8282;
  }

}

.btnSuccess {
  @extend .btnAnswer;
  background-color: #60BF88;
  border-color: #60BF88;
  
  &::after {
    right: 6px;
    top: 58%;
    content: url('../../assets/success.svg');
  }
  
  &:hover:disabled{
    background-color: #60BF88;
    border-color: #60BF88;
    color: #fff;
  }
}


.btnSecondary{
  @extend .btnPrimary;
  text-align: center;
  background-color: #F9A826;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  border-color: #F9A826;
  padding: 12px 20px;

  &:hover {
    background-color: #F9A801; 
  }
}
