.titleQuiz {
  font-size: 20px;
  margin-bottom: 20px;
}

.imgWorld {
  display: none;
  position: absolute;
  top: -12px;
  right: 0;
  width: 150px;
}

@media screen and (min-width: 480px) {
  .imgWorld {
    display: block;
  } 
}

.flagCountry{
  max-width: 100%;
  display: block;
  height: 35px;
  margin-top: 10px;
  padding: 0;
}

.containerOptions {
  & > * {
    padding-right: 50px;
    word-break: break-all;
    white-space: pre-wrap;
  } 

  & > * + * {
    margin-top: 15px;
  }
 
  & > :last-child {
    min-width: 45%;
    display: block;
    margin: 12px 0 auto auto;
    padding-right: 20px;
  }
}

@media screen and (min-width: 480px) {
  .containerOptions {
    & > :last-child {
      min-width: 30%;
    }
  }
}

.optionText {
  font-size: 17px;
  margin-left: 25px;
  pointer-events: none;
}
