.card {
  margin-top: 45px;
}

.titleQuiz {
  font-size: 20px;
  margin-bottom: 20px;
}

.imgWorld {
  position: absolute;
  top: -12px;
  right: 0;
  width: 150px;
}

.flagCountry{
  max-width: 100%;
  display: block;
  height: 50px;
  padding: 0;
  margin: 0;
}

.containerOptions {
  & > * {
    padding-right: 50px;
    word-break: break-all;
    white-space: pre-wrap;
  } 

  & > * + * {
    margin-top: 15px;
  }

  & > :last-child {
    max-width: 40%;
    min-width: 30%;
    display: block;
    margin: 12px 0 auto auto;
    padding-right: 20px;
  }
}

.optionText {
  font-size: 16px;
  margin-left: 30px;
}
