.game {
  background-image: url("../../assets/background.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: red;
  padding: 35px 10px 15px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title{
  margin: 0;
  padding: 0;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 33px;
}

.container{
  color: white;
  position: relative;
  max-width: 430px;
}

.containerCard {
  border-radius: 24px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding-left: 32px;
  padding-bottom: 35px;
  color: #2F527B;
}

.card{
  margin-top: 45px;
}

.titleQuiz {
  font-size: 20px;
  margin-bottom: 20px;
}

.imgWorld {
  position: absolute;
  top: -12px;
  right: 0;
  width: 150px;
}

.flagCountry{
  max-width: 100%;
  display: block;
  height: 50px;
  padding: 0;
  margin: 0;
}

.containerOptions {
  margin-right: 32px;
}

.button {
  min-width: 100%;
  border: 1px solid #2f527b;
  color: #2f527b;
  outline: none;
  padding: 12px 15px;
  border-radius: 12px;
  background-color: #fff;
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
  transition: all .5s ease;

  & + * {
    margin-top: 12px;  
  }

  &:hover {
    cursor: pointer;
    background-color: #F9A826;
    border-color: transparent;
    color: #fff;
  }
}

.buttonAnswer{
  @extend .button;
  position: relative;
  color: #fff;
  border-color: transparent;
  
  &::after{
    position: absolute;
    right: 20px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
}

.buttonFail {
  @extend .buttonAnswer;
  background-color: #EA8282;
  
  &::after {
    content: url('../../assets/fail.svg/');
    top: 24%;
    transform: rotate(45deg);
  }
}


.buttonSuccess {
  @extend .buttonAnswer;
  background-color: #60BF88;
  
  &::after {
    right: 6px;
    top: 58%;
   content: url('../../assets/success.svg/');
 }
}

.optionText {
  font-size: 16px;
  margin-left: 45px;
}

.buttonNext{
  @extend .button;
  text-align: center;
  max-width: 40%;
  min-width: 30%;
  margin: 12px 32px auto auto;
  background-color: #F9A826;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  border: none;
  padding: 16px 20px;

  &:hover {
    background-color: #F9A801; 
  }
}

.nameCopyRight {
  color: #fff;
  margin-top: 15px; 
  font-size: 15px;
}
